{% extends "crudapp/base.html" %}


{% block content %}

<ul>

    {% for post in posts%}
    <br>
   
    <li>{{post.title}}</li>
    <small>Posted by - {{post.author.id}} </small>
    <small>{{post.author.username }}</small>
    {% if user.is_authenticated %}

    {% if user.id == post.author.id%}



    <a href="{% url 'update_post' post.id %}"><small>update</small></a>
    <a href="{% url 'delete_post' post.id %}"><small>delete</small></a>
    <hr>
    {% endif %}
    {% endif %}

 
    {%endfor%}
    <ul>





{% endblock %}